ion-header {
    --background: #0c0572; // color de fondo de la barra de herramientas
    --color: #ffffff; // color de texto de la barra de herramientas
   }
   
   ion-toolbar {
    --background: #05726d; // color de fondo de la barra de herramientas
    --color: #ffffff; // color de texto de la barra de herramientas
   }
   
   ion-title {
    --color: #ffffff; // color de texto del título
   }
   
   ion-content.ion-padding {
    padding: 20px; // espacio alrededor del contenido
   }
   
   ion-item {
    --background: #f5f5f5; // color de fondo del elemento
    --color: #333; // color de texto del elemento
   }
   
   ion-input {
    --padding: 10px; // espacio alrededor del input
    --border-radius: 5px; // redondeo de bordes
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // sombra
   }
   
   ion-button {
    --background: #007bff; // color de resaltado (azul marino)
    --color: #ffffff; // color de texto claro
    --border-radius: 5px; // redondeo de bordes
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // sombra
    transition: background-color 0.3s ease; // animación de cambio de color de fondo
   }
   
   ion-button:hover {
    --background: #0056b3; // color de resaltado al pasar el ratón (azul oscuro)
   }
   
   @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
   }
   
   @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
   }
   